<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
    </div>
    <label>Username:</label>
    <input type="text" class="form-control" [(ngModel)]="username">
    <p>{{ username }}</p>
    <button class="btn btn-primary" [disabled]="username === ''" (click)="username = ''">Reset User</button>
  </div>
  <hr>
   <button class="btn btn-primary" (click) = "showSecret = !showSecret">Display Details</button>

  

  <p *ngIf ='showSecret'>Secret Password = tuna</p>
</div>

<router-outlet></router-outlet>